* {
  box-sizing: border-box;
}

input, select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #123123;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 0px;
  display: inline-block;
  color: #c8bf9c;
}

input[type=submit] {
  background-color: #669900;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  float: right;
  width: 18%;
}

input[type=submit]:hover {
  background-color: #66bb00;
}

.orderbox {
  border-radius: 5px;
  background-color: #23314ae3;
  padding: 20px;
}

.col-label {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-input {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .col-label, .col-input, input[type=submit] {
    width: 100%;
  }
}