body {
	margin: 0px;
	padding: 0px;
}

.bgpicture {
	z-index: -1;
	height: 100%;
	width: 100%;
	background-image: url("png/space.jpg");
	background-repeat:no-repeat;
	background-size: 100%;
	background-position: center;
	position: fixed;
	background-color: #000;
}

.giantpizza {
	z-index: -1;
	height: 130%;
	width: 100%;
	background-image: url("png/pizza1.png");
	background-repeat:no-repeat;
	background-size: 30%;
	position: fixed;
	bottom: -70%;
	right: 0px;
}

.bleft {
	background-position: left;
}
.bcenter {
	background-position: center;
}
.bright {
	background-position: right;
}

.padded {
	padding: 30px 30px;
}

#PizzaPlanet {
	position: fixed;
	right: 10px;
    display: block;
    z-index: 3;
}

.front {
	overflow: auto;
	position: fixed;
    z-index: 4;
}

@font-face {
	font-family: "Blanka";
	src: url("Blanka-Regular.otf");
}

.sexytext {
	font-family: "Blanka";
	color: #181bdf;
	letter-spacing: 0.2em;
}

.cringetext {
	letter-spacing: 0.5px;
	color: #fff;
	text-shadow: 2px 0.5px gray;
	font-family: "Comic Sans MS", cursive, sans-serif;
	text-align: justify;
}

.feedbackbox {
	display: flex;
	flex-direction: row;
	flex: 1;
	flex-wrap: wrap;
	flex-basis: 100%;
	justify-content: space-evenly;
}

@font-face {
	font-family: "Belwe";
	src: url("Belwe-Gotisch.ttf");
}

.feedback {
	display: flex;
	font-family: "Belwe";
	color: #B25400;
	letter-spacing: 0.4em;
	font-size: 20px;
	
	max-width: 40%;
	padding: 6px 16px;
	margin: 10px;
	
	border-radius: 14px;
	border: 4px solid #0a4804;
	background: #004582;
}

.feedbacktext{
	width: 100%;
	margin: 0px 10px;
}

.castrated {
	width: 75%;
}

/* https://www.w3schools.com/css/css_navbar.asp edited */
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #226029;
}

li {
	float: left;
}

li a {
	display: block;
	color: #F7A701;
	text-align: center;
	padding: 12px 32px;
	text-decoration: none;
	font-size: 18px;
	letter-spacing: 2px;
	text-shadow: 1px 0px;
}

.bestbutton {
	padding: 5px 15px;
	background-color: #23842d;
	font-size: 24px;
	display: flex;
	color: #F7A701;
}

li a:hover:not(.bestbutton) {
	background-color: #4CAF50;
}
